
<h3> Developer : Sindhu Jeendru </h3>


<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
  </head>
  <style>
  body 
  {
  background-color: #cccccc;
         }
  </style>
  <body>
  
    <div style="background-image: url("C:\Users\Saritha\Desktop\connect.jpg");" >  
    <p><a href="https://www.linkedin.com/in/sindhu-reddy-8787a068/">Connect with Linkedln</a></p>
    <button onclick="window.location.href='https://github.com/sindhujeendru';">Github</button>
    <form action="blog">
      <br>
       <input type="submit" value="home" display="inline" >
      <br>
    </form>
    
  </body>
</html>